@page "/ProductCategories"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource.ProductCategories.ProductCategories> Loc
@inject Microsoft.Extensions.Localization.IStringLocalizer<PointOfSale.DAL.Resources.Resources> Loc2
    <!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5">Home</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/ProductCategories" class="text-muted">@Loc["ProductCategory"]</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-body p-9">
                <div class="row">
                    <div class="col-md-12">
                        <RadzenContent @ref="content1" Container="main">
                            <ChildContent>
                                <RadzenHeading @ref="pageTitle" Size="H1" Text="@Loc["ProductCategory"]">
                                </RadzenHeading>
                                <div class="row">
                                    <div class="col-md-12">
                                        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
                                        </RadzenButton>
                                        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getProductCategoriesResult)" TItem="ProductCategory">
                                            <Columns>
                                                <RadzenGridColumn TItem="ProductCategory" Context="productCategory" Visible="false" Property="Id" Title="Id" Type="integer">
                                                </RadzenGridColumn>
                                                <RadzenGridColumn TItem="ProductCategory" Context="productCategory" Property="ImagePath" Title="@Loc2["ImagePath"]" Type="string">
                                                    <Template Context="productCategory">
                                                        <img src="@productCategory.ImagePath" class="img-circle" width="100" />
                                                    </Template>
                                                </RadzenGridColumn>
                                                <RadzenGridColumn TItem="ProductCategory" Context="productCategory" Property="CategoryName" Title="@Loc2["CategoryName"]" Type="string">
                                                </RadzenGridColumn>
                                                <RadzenGridColumn TItem="ProductCategory" Context="productCategory" Property="ParentCategoryId" SortProperty="productCategory.CategoryName" FilterProperty="productCategory.CategoryName" Title="@Loc2["ParentCategory"]" Type="string">
                                                    <Template Context="data">
                                                        @data.ParentCategory?.CategoryName
                                                    </Template>
                                                </RadzenGridColumn>
                                                <RadzenGridColumn TItem="ProductCategory" Context="productCategory" Bubble="false" Filterable="false" Sortable="false" TextAlign="Radzen.TextAlign.Center" Width="100px">
                                                    <Template Context="productCategory">
                                                        <RadzenButton Icon="edit" Size="Radzen.ButtonSize.Small" Click="@(args => EditRow(productCategory))">
                                                        </RadzenButton>
                                                    </Template>
                                                </RadzenGridColumn>
                                                <RadzenGridColumn TItem="ProductCategory" Context="productCategory" Filterable="false" Sortable="false" Bubble="false" Width="70px">
                                                    <Template Context="productCategory">
                                                        <RadzenButton @ref="gridDeleteButton" ButtonStyle="Radzen.ButtonStyle.Danger" Icon="close" Size="Radzen.ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, productCategory))">
                                                        </RadzenButton>
                                                    </Template>
                                                </RadzenGridColumn>
                                            </Columns>
                                        </RadzenGrid>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenContent>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>