@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource.Sessions.SessionContent> Loc
@inject Microsoft.Extensions.Localization.IStringLocalizer<PointOfSale.DAL.Resources.Resources> Loc2
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <!--begin::Card-->
        <div class="card card-custom"  style="width: 100%;direction:rtl;text-align:right">
            <div class="card-body p-9">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                            <!--begin::Entry-->
                            <div class="d-flex flex-column-fluid">
                                <!--begin::Container-->
                                <div class="container">
                                    <!--begin::Card-->
                                    <div class="card card-custom">
                                        <RadzenTemplateForm TItem="Order" Data="@order" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
                                            <DataAnnotationsValidator />
                                            <ValidationSummary />
                                            <div class="card-body p-9">
                                                <div class="form-group row" style="width: 140%;">
                                                    <div class="col-xl-8">
                                                        <RadzenDropDown AllowClear="true" TValue="int" Name="CustomerId"
                                                                        FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                                                                        AllowFiltering="true" Placeholder="Select Customer"
                                                                        Data="@customers" TextProperty="Name" @bind-Value="@order.CustomerId"
                                                                        ValueProperty="Id" Change="@(args => Change(args, "DropDown with placeholder"))" class="form-control" Style="margin-bottom: 20px">

                                                            <option value="0">@Loc["WalkInClient"]</option>
                                                        </RadzenDropDown>
                                                        <RadzenLabel @ref="CustomerVaildation" Text="@Loc["CustomerIsRequired"]" Visible="false" />
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="input-group-addon no-print" style="padding: 2px 5px;">
                                                            <a @onclick="AddCustomer">
                                                                <i class="fa fa-2x fa-plus-circle"
                                                                   id="addIcon"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row" style="width: 140%;">
                                                    <div class="col-xl-8"> <InputText id="OrderNumber" @bind-Value="order.OrderNumber" class="form-control kb-text" Placeholder="@Loc["OrderNo"]" @onblur="ChangeOrderNo" /></div>
                                                </div>
                                                <div class="form-group row" style="width: 140%;">
                                                    <div class="col-xl-8">
                                                        <RadzenAutoComplete @ref="BarcodeId" Data=@Products TextProperty="Barcode" Placeholder="@Loc["EnterBarcodeOrProductName"]" id="barcode2"
                                                                            Style="margin-bottom: 20px;width:100%" Change=@(args => OnChange(args, "AutoComplete")) />
                                                    </div>

                                                </div>
                                                <hr />
                                                <RadzenLabel @ref="ItemsVaildation" Text="@Loc["ChooseOneProduct"]" Visible="false" />
                                                <table class="table table-bordered table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>@Loc["Product"]</th>
                                                            <th>@Loc["Price"]</th>
                                                            <th>@Loc["Qty"]</th>
                                                            <th>@Loc["Subtotal"]</th>
                                                        <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in orderItems)
                                                        {
                                                            <tr>
                                                                <td>@item.Product.Name</td>
                                                                <td>@item.Product.SalesPrice</td>
                                                                <td> <RadzenNumeric TValue="int" @bind-Value="@item.Quantity" Change=@(args => OnChangeQuantity(args,item.ProductId)) /></td>
                                                                <td>@item.SubTotal</td>
                                                                <td><button class="btn btn-sm btn-danger" @onclick="()=>DeleteItem(item)"><i class="fa fa-trash"></i></button></td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>
                                                                <label class="control-label">@Loc["TotalItems"]</label>
                                                            </th>
                                                            <th>
                                                                <label class="control-label">@TotalItems</label>
                                                            </th>
                                                            <th>
                                                                <label class="control-label">@Loc["Total"]</label>
                                                            </th>
                                                            <th colspan="2">
                                                                <label class="control-label">@Total</label>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                <label class="control-label">@Loc["Discount"]</label>
                                                            </th>
                                                            <th>
                                                                <RadzenNumeric TValue="double" @bind-Value="@Discount" Change="UpdateTotals" />

                                                            </th>
                                                            <th>
                                                                <label class="control-label">@Loc["OrderTax"]</label>
                                                            </th>
                                                            <th colspan="2">
                                                                <RadzenNumeric TValue="double" @bind-Value="@OrderTax" Change="UpdateTotals" /> %
                                                            </th>

                                                        </tr>
                                                        <tr>
                                                            <th colspan="2">
                                                                <label class="control-label">@Loc["TotalPayable"]</label>
                                                            </th>
                                                            <th colspan="3">
                                                                <label class="control-label">@TotalPayable</label>
                                                            </th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                            <div class="card-footer accessibility-issue--error p-9">

                                                <div class="form-group row">
                                                    <div class="col-xl-4">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-warning btn-block btn-flat" @onclick="HoldOrder"
                                                                    id="suspend">
                                                                @Loc["Hold"] 
                                                            </button>
                                                        </div>
                                                        <div class="row">
                                                            <button type="button" class="btn btn-danger btn-block btn-flat" @onclick="CancelOrder"
                                                                    id="reset">
                                                                @Loc["Cancel"] 
                                                            </button>
                                                        </div>

                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="row">
                                                            <button type="button" class="btn bg-purple btn-block btn-flat" @onclick="PrintOrder"
                                                                    id="print_order">
                                                                @Loc["PrintOrder"]  
                                                            </button>
                                                        </div>
                                                        <div class="row">
                                                            <button type="button" class="btn bg-navy btn-block btn-flat" @onclick="PrintBill"
                                                                    id="print_bill">
                                                                @Loc["PrintBill"] 
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <button type="button" class="btn btn-success btn-block btn-flat" @onclick="Payment"
                                                                id="payment" style="height: 100%;">
                                                            @Loc["Payment"]  
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </RadzenTemplateForm>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="btn-group btn-group">
                            <div class="btn-group">
                                <button class="btn btn-warning" @onclick="()=>GetProductCategories(i,2,1)"
                                        type="button" id="previous">
                                    <i class="fa fa-chevron-left"></i>
                                </button>
                            </div>
                            <div class="btn-group"></div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-secondary" @onclick="()=>GetProductsVyCategoryId(null)">
                                    <div class="card" style="border:none">
                                        <div class="card-body" style="padding:1% 1% !important">
                                            <img src="/StaticFiles/Images/25694.svg" class="img-circle" width="100" style="height:100px" />
                                        </div>
                                        <div class="card-footer" style="padding:1% 1% !important">
                                            <span>@Loc["All"]</span>
                                        </div>
                                    </div>

                                </button>
                            </div>
                            @foreach (var item in ProductCategories)
                            {
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-secondary" @onclick="()=>GetProductsVyCategoryId(item.Id)">
                                        <div class="card" style="border:none">
                                            <div class="card-body" style="padding:1% 1% !important">
                                                <img src="@item.ImagePath" class="img-circle" alt="@item.CategoryName" width="100" style="height:100px" />

                                            </div>
                                            <div class="card-footer" style="padding:1% 1% !important">
                                                <span>@item.CategoryName</span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            }
                            <div class="btn-group"></div>
                            <div class="btn-group">
                                <button class="btn btn-warning" @onclick="()=>GetProductCategories(i,2,2)"
                                        type="button" id="next">
                                    <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div id="item-list">
                            <div class="items">
                                <Virtualize Context="item" Items="@ProductCats">
                                    <button type="button" data-name="@item.Name" id="product-@item.Name" @onclick="()=>AddOrderItem(item,1)"
                                            value='@item.Name' class="btn btn-both btn-flat product">
                                        <span class="bg-img">
                                            <img src="@item.ProductImage"
                                                 alt="@item.Name"
                                                 style="width: 100%; height: 100px;">
                                        </span>
                                        <span>
                                            <span>
                                                @item.Name
                                            </span>
                                        </span>
                                    </button>
                                </Virtualize>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
