@page "/dialogcard/{id:int?}/{CustomerContactId:int?}"

@inject Radzen.DialogService dialogService

<div class="row">
    <div class="col-md-12">
        <RadzenTemplateForm Data="@(customercontact)" Visible="@(customercontact != null)" TItem="CustomerContact" Submit="@customercontactFormSubmit">
            <ChildContent>
                @*<div style="margin-bottom: 1rem;display:none" class="row">
                    <div class="col-md-3">
                        <RadzenLabel Text="Customer" Component="CustomerId" style="width: 100%">
                        </RadzenLabel>
                    </div>
                    <div class="col-md-9">
                        <InputNumber @bind-Value="customercontasct.CustomerId" type="hidden" Name="CustomerId"></InputNumber>

                    </div>
                </div>*@
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.ContactTypeId)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenDropDown @bind-Value="customercontact.ContactTypeId" Data="@(getContactTypesResult)" TextProperty="Type" ValueProperty="Id" Placeholder="Choose ContactType" style="display: block; width: 100%" Name="ContactTypeId">
                        </RadzenDropDown>
                        <RadzenRequiredValidator Component="ContactTypeId" Text="ContactTypeId is required" style="position: absolute">
                        </RadzenRequiredValidator>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.ContactName)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.ContactName" style="width: 100%" Name="ContactName">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.ContactImage)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <input type="file" @ref="_input" @onchange="HandleSelected" accept=".jpg, .jpeg, png" />
                        @if (ImgUrl != null)
                        {
                            <div>
                                <img src="@ImgUrl" style="width:300px" />
                            </div>
                        }
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.Phone)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.Phone" style="width: 100%" Name="Phone">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.Mobile)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.Mobile" style="width: 100%" Name="Mobile">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.Email)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.Email" style="width: 100%" Name="Email">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.CompanyAddressStreet1)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.CompanyAddressStreet1" style="width: 100%" Name="CompanyAddressStreet1">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.CompanyAddressStreet2)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.CompanyAddressStreet2" style="width: 100%" Name="CompanyAddressStreet2">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.City)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.City" style="width: 100%" Name="City">
                        </RadzenTextBox>
                    </div>
                </div>
                <div style="margin-bottom: 1rem" class="row">
                    <div class="col-md-3">
                        <DisplayName For="@(() => customercontact.Country)"></DisplayName>
                    </div>
                    <div class="col-md-9">
                        <RadzenTextBox @bind-Value="customercontact.Country" style="width: 100%" Name="Country">
                        </RadzenTextBox>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-sm-3">
                        <RadzenButton ButtonType="Radzen.ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="Radzen.ButtonStyle.Primary">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="Radzen.ButtonStyle.Light" Text="Cancel" Click="@btnCancelClick">
                        </RadzenButton>
                    </div>
                </div>
            </ChildContent>
        </RadzenTemplateForm>
    </div>
</div>

