@page "/OrderReports"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource.Orders.OrderReports> Loc
@inject Microsoft.Extensions.Localization.IStringLocalizer<PointOfSale.DAL.Resources.Resources> Loc2
    <!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5">@Loc["SalesDetails"]</h5>
                <!--end::Page Title-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <!--end::Toolbar-->
    </div>
</div>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <!--begin::Card-->
        <div class="card card-custom" style="width:100%">
            <div class="card-body p-9" style="text-align:right">
                <div class="row">
                    <div class="col-xl-4">
                        <label class="col-xl-4 control-label">@Loc["StartDate"]</label>
                        <div class="col-xl-8">
                            <RadzenDatePicker @bind-Value=@StartDate DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <label class="col-xl-4 control-label">@Loc["EndDate"]</label>
                        <div class="col-xl-8">
                            <RadzenDatePicker @bind-Value=@EndDate DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) />
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <button type="button" class="btn btn-primary" @onclick="Search">@Loc["Search"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <!--begin::Card-->
        <div class="card card-custom" style="width:100%">
            <div class="card-body p-9">
                <div class="row">
                    <div class="col-md-4 col-sm-4 p-4">
                        <div class="card card-custom card-stretch gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-5">
                                <div class="card-title">
                                    <div class="card-label">
                                        <div class="font-weight-bolder">@Loc["OrdersPerCategory"]</div>
                                        <div class="font-size-sm text-muted mt-2">
                                            @Categories.Sum(c => c.Value) @Loc["Eg"]</div>
                                        </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <RadzenChart>
                                    <RadzenColumnSeries Data="Categories" CategoryProperty="Text" LineType="LineType.Dashed" ValueProperty="Value" />
                                    <RadzenColumnOptions Radius="5" />
                                    <RadzenValueAxis Formatter="@FormatAsUSD">
                                        <RadzenGridLines Visible="true" />
                                        <RadzenAxisTitle Text="@Loc["RevenueInUSD"]" />
                                    </RadzenValueAxis>
                                </RadzenChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 p-4">
                        <div class="card card-custom card-stretch gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-5">
                                <div class="card-title">
                                    <div class="card-label">
                                        <div class="font-weight-bolder">
                                            @Loc["OrdersPerPaymentMethod"]</div>
                                        <div class="font-size-sm text-muted mt-2">@OrderPayments.Sum(p => p.Value) @Loc["Eg"]</div>
                                        </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <RadzenChart>
                                    <RadzenPieSeries Data="@OrderPayments" Title="@Loc["Payments"]" CategoryProperty="Text" ValueProperty="Value" />
                                </RadzenChart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 p-4">
                        <div class="card card-custom card-stretch gutter-b">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-5">
                                <div class="card-title">
                                    <div class="card-label">
                                        <div class="font-weight-bolder">@Loc["NumberOfCustomer"]</div>
                                        <div class="font-size-sm text-muted mt-2">@Customers.Sum(p => p.Value) </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <RadzenChart>
                                    <RadzenPieSeries Data="@Customers" Title="@Loc["Customer"]" CategoryProperty="Text" ValueProperty="Value" />
                                </RadzenChart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
