@page  "/SalesDetailReports"
    <!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5">Home</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/Orders" class="text-muted">Sales Details</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-body p-9">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Start Date</label>
                        <div class="col-md-8">
                            <RadzenDatePicker @bind-Value=@StartDate DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">End Date</label>
                        <div class="col-md-8">
                            <RadzenDatePicker @bind-Value=@EndDate DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" @onclick="Search">Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <RadzenContent Container="main">
                            <ChildContent>
                                <RadzenHeading Size="H1" Text="Orders">
                                </RadzenHeading>
                                <div class="row">
                                    <div class="col-md-12">
                                        <RadzenGrid @ref="gridOrders" Visible="@(orders != null)" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(orders)" TItem="Order">
                                            <Columns>
                                                <RadzenGridColumn TItem="Order" Context="Order" Property="Id" Title="Id" Type="integer">
                                                    <FooterTemplate>
                                                        Displayed orders: <b>@gridOrders.View.Count()</b> of <b>@orders.Count()</b>
                                                    </FooterTemplate>
                                                </RadzenGridColumn>
                                                <RadzenGridColumn TItem="Order" Context="Order" Property="OrderNumber" Title="Order Number" Type="string">
                                                </RadzenGridColumn>
                                                <RadzenGridColumn Width="200px" TItem="Order" Property="Customer.Name" Title="Customer" />
                                                <RadzenGridColumn TItem="Order" Property="OrderDate" Title="Order Date"></RadzenGridColumn>
                                                <RadzenGridColumn TItem="Order" Property="Total" Title="Total">
                                                    <FooterTemplate>
                                                        Total amount: <b>@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", orders.Sum(o => o.Total))</b>
                                                    </FooterTemplate>
                                                </RadzenGridColumn>
                                            </Columns>
                                            <Template Context="order">
                                                <RadzenGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(order.OrderItem)" TItem="OrderItem">
                                                    <Columns>
                                                        <RadzenGridColumn TItem="OrderItem" Context="Order" Property="Id" Title="Id" Type="integer">
                                                        </RadzenGridColumn>
                                                        <RadzenGridColumn TItem="OrderItem" Property="Product.Name" Title="Product"></RadzenGridColumn>
                                                        <RadzenGridColumn TItem="OrderItem" Property="Quantity" Title="Quantity"></RadzenGridColumn>
                                                        <RadzenGridColumn TItem="OrderItem" Property="Price" Title="Price"></RadzenGridColumn>
                                                        <RadzenGridColumn TItem="OrderItem" Property="SubTotal" Title="SubTotal"></RadzenGridColumn>
                                                        <RadzenGridColumn TItem="OrderItem" Property="ProductDiscount" Title="Discoun"></RadzenGridColumn>
                                                    </Columns>
                                                </RadzenGrid>
                                            </Template>
                                        </RadzenGrid>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenContent>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <RadzenContent Container="main">
                            <ChildContent>
                                <RadzenHeading Size="H1" Text="Order Payments">
                                </RadzenHeading>
                                <div class="row">
                                    <div class="col-md-12">
                                        <RadzenTree Data=@OrderPayments Style="width:100%;height:100%">
                                            <RadzenTreeLevel TextProperty="MehtodName" ChildrenProperty="Orders">
                                                <Template>
                                                    <table class="table">
                                                        <tr>
                                                            <td>
                                                                <strong>@((context.Value as PaymentMethodDTO).MehtodName)</strong>
                                                            </td>
                                                            <td>
                                                                <strong>@((context.Value as PaymentMethodDTO).Cash)</strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </Template>
                                            </RadzenTreeLevel>
                                        </RadzenTree>
                                    </div>
                                </div>
                            </ChildContent>
                        </RadzenContent>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

