@page  "/Dashboard"
@inject Microsoft.Extensions.Localization.IStringLocalizer<Resource.Dashboard> Loc
    <!--begin::Subheader-->
<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline mr-5">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold my-2 mr-5">@Loc["Home"]</h5>
                <!--end::Page Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item">
                        <a href="/Dashboard" class="text-muted">@Loc["DashboardText"]</a>
                    </li>
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page Heading-->
        </div>
        <!--end::Info-->
        <!--begin::Toolbar-->
        <!--end::Toolbar-->
    </div>
</div>
<!--end::Subheader-->
<!--begin::Entry-->
    <div class="row">
        <div class="col-md-4 col-sm-4 p-4">
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-title">
                        <div class="card-label">
                            <div class="font-weight-bolder">@Loc["OrdersPerCategory"]</div>
                            <div class="font-size-sm text-muted mt-2">@Categories.Sum(c => c.Value) @Loc["Eg"] </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <RadzenChart >
                        <RadzenColumnSeries Data="Categories" CategoryProperty="Text" LineType="LineType.Dashed" Title="الفئات"  ValueProperty="Value" />
                        <RadzenColumnOptions Radius="5" />
                        <RadzenValueAxis Formatter="@FormatAsUSD" >
                            <RadzenGridLines Visible="false" />
                            <RadzenAxisTitle Text="@Loc["RevenueInEG"]" />
                        </RadzenValueAxis>
                    </RadzenChart>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 p-4">
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-title">
                        <div class="card-label">
                            <div class="font-weight-bolder"> @Loc["OrdersPerPaymentMethod"]</div>
                            <div class="font-size-sm text-muted mt-2">
                                @OrderPayments.Sum(p => p.Value) @Loc["Eg"]</div>
                            </div>
                    </div>
                </div>
                <div class="card-body">
                    <RadzenChart>
                        <RadzenPieSeries Data="@OrderPayments" Title="Payments" CategoryProperty="Text" ValueProperty="Value" />
                    </RadzenChart>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 p-4">
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <div class="card-title">
                        <div class="card-label">
                            <div class="font-weight-bolder">
                                @Loc["NumberOfCustomer"]</div>
                                <div class="font-size-sm text-muted mt-2">@Customers.Sum(p => p.Value) </div>
                            </div>
                    </div>
                </div>
                <div class="card-body">
                    <RadzenChart>
                        <RadzenPieSeries Data="@Customers" Title="Customer" CategoryProperty="Text" ValueProperty="Value" />
                    </RadzenChart>
                </div>
            </div>
        </div>
    </div>
@code {
    List<PiChartsDTO> OrderPayments = new List<PiChartsDTO>();
    List<PiChartsDTO> Categories = new List<PiChartsDTO>();
    List<PiChartsDTO> Customers = new List<PiChartsDTO>();
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("StartLoading");
        OrderPayments = await Http.GetFromJsonAsync<List<PiChartsDTO>>("/api/OrderPayments/GetChartGroubByMethodOnPeriod/");
        Categories = await Http.GetFromJsonAsync<List<PiChartsDTO>>("/api/OrderItems/GetChartGroubByProductCategoryOnPeriod/");
        Customers = await Http.GetFromJsonAsync<List<PiChartsDTO>>("/api/Customers/GetChartGroubByDate/");
        await JSRuntime.InvokeVoidAsync("StopLoading");
    }
    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"));
    }

}
